body {
	font-size: 16px;
	margin: 15px;
}

h1 {
	font-family: "Helvetica Neue";
	font-size: 28px;
	color: #333;
	margin: 1.5em 0 0.5em;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	font-family: "Helvetica Neue";
	font-size: 21px;
	color: #333;
	margin: 1em 0 0.5em;
}

p, ul, ol, pre {
	font-family: "Helvetica Neue";
	color: #333;
	margin: 0 0 0.5em;
}

ul, ol {
	padding-left: 1.5em;
}

/* links */

a {
	color: #009ee0;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.touched {
	text-decoration: underline;
}
